@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: "IBM Plex Sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1110px;
    margin-left:auto;
    margin-right:auto;
}
.header{
    padding: 36px 0;
}
.header_container{
    display: flex;
    align-items: center;
}
.header_logo{
    margin-right: auto;
}
.header_link{
    text-decoration: none;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.2px;
    color:#141414;
    margin-right: 40px;
}
.header-btn{
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.2px;
    color: #141414;
}
.hero{
    padding: 257px 0;
}
.hero_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero_title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    letter-spacing: -1.6px;
    color: #141414;
    margin-bottom: 24px ;
}
.hero_description{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #616161;
    margin-bottom: 36px;
}
.hero_button{
    padding: 12px 18px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #FFFFFF;
    margin-bottom: 14px 20px;
    background: #FF8364;
    border-radius: 8px;
}
.info_container{
    display: flex;
    align-items: center;
}
.info_first{
    left: 11.46%;
    right: 57.64%;
    top: 24.65%;
    bottom: 21%;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -0.8px;
    color: #141414;
    margin-right: 125px;
}
.info_second{
    left: 51.04%;
    right: 11.46%;
    top: 26.61%;
    bottom: 26.43%;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #616161;
}
.new{
    padding: 113px 0;
}
.new_container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.new_label{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #616161;
    margin-bottom: 18.2px;
}
.new_title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -1.2px;
    color: #141414;
    margin-bottom: 38.8px;
}
.new_text{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #616161;
    margin-top: 43px;
    margin-bottom: 27px;
}
.new_link_text{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.2px;
    color: #FF8364;
}
.new_link_icon{
    background: #FF8364;
}